{
  "url": "http://localhost:2368",
  "server": {
    "port": 2368,
    "host": "::"
  },
  "mail": {
    "transport": "Direct"
  },
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "process": "systemd",
  "paths": {
    "contentPath": "/var/lib/ghost/content"
  },
  "mail": {
    "transport": "SMTP",
    "options": {
      "service": "Mailgun",
      "host": "{{ ghost_env.mail.host }}",
      "port": 587,
      "secure": false,
      "auth": {
        "user": "{{ ghost_env.mail.user }}",
        "pass": "{{ ghost_env.mail.pass }}"
      }
    }
  }
}
