---

- name: Create required docker networks
  community.docker.docker_network:
    name: internal

- name: Create required docker volumes
  community.docker.docker_volume:
    name: '{{ docker_volumes }}'
  loop:
    - vault_data
  loop_control:
    loop_var: docker_volumes

- name: Read values from vault
  community.hashi_vault.vault_kv2_get:
    url: '{{ vault.url }}'
    path: vault
    engine_mount_point: homeserver_secrets
    auth_method: token
    token_path: '{{ homeserver_repo_dir }}/ansible/'
  register: response

- name: Deploy docker unseal script
  template:
    mode: '700'
    owner: root
    src: unseal.sh.j2
    dest: '/usr/bin/unseal-vault'

- name: name the two unseal-vault-check scripts
  set_fact:
    vault_systemd_services:
      - unseal-vault-check.service
      - unseal-vault-check.timer

- name: Deploy systemd service
  template:
    src: '{{ vault_service }}'
    dest: '{{ systemd_destination }}/ansible-{{ vault_service }}'
  loop: '{{ vault_systemd_services }}'
  loop_control:
    loop_var: vault_service

# vi:ft=yaml.ansible
