---

# First drive setup

- name: Check that the main disk is present
  register: disk_uuid
  stat:
    path: '/dev/disk/by-uuid/{{ drives.main.uuid }}'

- assert:
    that: disk_uuid.stat.islnk is defined
    fail_msg: Main disk UUID could not be found!

- name: Setup the main drive
  template:
    src: main_drive.mount.j2
    dest: '{{ systemd_destination }}/{{ drives.main.mount_file_dest | basename }}'

# Second drive setup (backup drive)

- name: Check that the second disk is present
  register: disk_uuid
  stat:
    path: '/dev/disk/by-uuid/{{ drives.backup.uuid }}'

- assert:
    that: disk_uuid.stat.islnk is defined
    fail_msg: Second disk UUID could not be found!

- name: Setup the second drive
  template:
    src: second_drive.mount.j2
    dest: '{{ systemd_destination }}/{{ drives.backup.mount_file_dest | basename }}'

- name: Setup the second drive automount
  template:
    src: second_drive.automount.j2
    dest: '{{ systemd_destination }}/{{ drives.backup.automount_file_dest | basename }}'

# vi:ft=yaml.ansible
