[Unit]
Description=Perform the backup for service %i
Wants=backup.timer

[Service]
Environment=RESTIC_LOCKFILE=/tmp/restic.lock
Type=oneshot
ExecStart=/usr/bin/flock --exclusive $RESTIC_LOCKFILE /bin/ansible-playbook --tags backup,%i {{ homeserver_repo_dir }}/host/backup.yml
