[Unit]
Description=Perform the backup for service %i
Wants=backup.timer

[Service]
Environment=RESTIC_LOCKFILE=/tmp/restic.lock
Type=oneshot
ExecStart=/usr/bin/flock --exclusive $RESTIC_LOCKFILE make -C {{ homeserver_repo_dir }}/host backup BACKUP_SERVICE="%i"
