[Unit]
Description=Second data drive

[Mount]
What=/dev/disk/by-uuid/e37a4f97-ec41-4ad4-9e3a-47f13aecd859
Where=/media/data2/
Type=btrfs
Options=defaults

[Install]
WantedBy=multi-user.target


