#! /bin/bash

is_sealed="$(curl -s {{ vault.url }}/v1/sys/health | jq -r .sealed)"

if [ "$is_sealed" = "true" ]; then
    echo "Vault was sealed. Unsealing..."
    curl -s --request PUT \
        --header "Content-Type: application/json" \
        --data '{"key": "{{ response.secret.UNSEAL_TOKEN }}"}' \
        {{ vault.url }}/v1/sys/unseal

    # shellcheck disable=SC2181
    if [ $? -ne 0 ]; then
        echo "Failed to unseal vault."
        exit 1
    fi
    echo "Vault unsealed."
fi
