services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    stop_grace_period: 1m
    restart: unless-stopped
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - nextcloud_site:/php-fpm-root/nextcloud/
    networks:
      - audiobookshelf
      - frontend
      - monitoring
      - immich
      - internal
      - nextcloud
      - navidrome
      - watchtower

volumes:
  caddy_data:
    external: true
  # Required because caddy is being a php_fastcgi proxy to
  # Nextcloud. Therefore, it needs access to all static files
  nextcloud_site:
    external: true

networks:
  audiobookshelf:
    external: true
  frontend:
    external: true
  nextcloud:
    external: true
  immich:
    external: true
  internal:
    external: true
  navidrome:
    external: true
  monitoring:
    external: true
  watchtower:
    external: true
