services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy
    stop_grace_period: 1m
    restart: unless-stopped
    extra_hosts:
      # On Linux, Docker doesn't always provide `host.docker.internal` by default.
      # This maps it to the Docker host gateway so Caddy can reach host-bound services like Vault.
      - "host.docker.internal:host-gateway"
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - nextcloud_site:/php-fpm-root/nextcloud/
    networks:
      - audiobookshelf
      - frontend
      - emby
      - grafana
      - ghost
      - immich
      - internal
      - nextcloud
      - navidrome
      - photoprism
      - pihole
      - bookstack
      - watchtower
      - wordpress

volumes:
  caddy_data:
    external: true
  # Required because caddy is being a php_fastcgi proxy to
  # Nextcloud. Therefore, it needs access to all static files
  nextcloud_site:
    external: true

networks:
  audiobookshelf:
    external: true
  frontend:
    external: true
  nextcloud:
    external: true
  bookstack:
    external: true
  ghost:
    external: true
  immich:
    external: true
  internal:
    external: true
  wordpress:
    external: true
  navidrome:
    external: true
  emby:
    external: true
  photoprism:
    external: true
  pihole:
    external: true
  grafana:
    external: true
  watchtower:
    external: true
