[DEFAULT]
bantime = 3600
findtime = 1800
maxretry = 4

[sshd]
enabled = true
port = ssh
filter = sshd

# the length of time between login attempts for maxretry.
findtime = 600

# attempts from a single ip before a ban is imposed.
maxretry = 5

# the number of seconds that a host is banned for.
bantime = 3600

# vim: syntax=conf
