[DEFAULT]

bantime = 1h
maxretry = 3

# the length of time between login attempts for maxretry.
findtime = 1800

[sshd]

# -1 means indefinite
bantime = -1
enabled = true
port    = {{ fail2ban.sshd.ports | join(",") }}
maxretry = 1

# vim: syntax=conf
