# This file is meant to provide some utility aliases and functions

git_repo_path={{ homeserver_repo_dir }}
services_directory="${git_repo_path}/services"

export PATH="${git_repo_path}/bin:${PATH}"

alias cdd="cd ${git_repo_path}"
alias cddd="cd ${services_directory}"
alias cdn="cd ${services_directory}/nextcloud"
alias cdw="cd ${services_directory}/wordpress"

# vim: syntax=sh
