---

- name: Install local backup service
  template:
    src: backup.service.j2
    dest: '{{ systemd_destination }}/ansible-backup.service'

- name: Install local backup timer
  template:
    src: backup_service.timer.j2
    dest: '{{ systemd_destination }}/ansible-backup.timer'

- name: Install remote backup service
  template:
    src: backup-remote.service.j2
    dest: '{{ systemd_destination }}/ansible-backup-remote.service'

- name: Install remote backup timer
  template:
    src: backup-remote-service.timer.j2
    dest: '{{ systemd_destination }}/ansible-backup-remote.timer'
# vi:ft=yaml.ansible
