server {
    include       /etc/nginx/generated/ssl.conf;

    listen        443 ssl http2;

    server_name   ${CLOUD_URL};
    set $cloud "http://${CLOUD_INTERNAL_NAME}";

    location / {
        include /etc/nginx/common_location.conf;
        proxy_pass  $cloud;
    }

    location = /login {
        limit_req   zone=loginrate;
        include /etc/nginx/common_location.conf;
        proxy_pass  $cloud;
    }
}

# vi:syntax=nginx
