server {
    include       /etc/nginx/generated/ssl.conf;

    listen        443 ssl http2;

    server_name   ${MUSIC_URL};
    set $music "http://${MUSIC_INTERNAL_NAME}";

    location / {
        include /etc/nginx/common_location.conf;
        proxy_buffering off;
        proxy_pass  $music;
    }
}

# vi:syntax=nginx
