upstream music_upstream
{
    server ${MUSIC_INTERNAL_NAME} fail_timeout=3s max_fails=0;
}

server {
    include       /etc/nginx/generated/ssl.conf;

    listen        443 ssl http2;

    server_name   ${MUSIC_URL};

    location / {
        include /etc/nginx/common_location.conf;
        proxy_buffering off;
        proxy_pass  http://music_upstream;
    }
}

# vi:syntax=nginx
