
server {
    include       /etc/nginx/generated/ssl.conf;

    listen        443 ssl http2;

    server_name   ${PHOTOS_URL};
    set $photos "http://${PHOTOS_INTERNAL_NAME}";

    location / {
        include /etc/nginx/common_location.conf;
        include /etc/nginx/header_security.conf;
        proxy_pass  $photos;
    }
}

# vi:syntax=nginx
