server {
    include       /etc/nginx/generated/ssl.conf;

    listen        443 ssl http2;

    server_name   ${PROMETHEUS_URL};
    set $prometheus "http://${PROMETHEUS_INTERNAL_NAME}:9090";

    location / {
        include /etc/nginx/common_location.conf;
        include /etc/nginx/header_security.conf;

        include /etc/nginx/restrict_to_local_network.conf;

        proxy_max_temp_file_size 0;

        proxy_pass  $prometheus;
    }
}

# vi:syntax=nginx
