[Unit]
Description=Remote backup drive
After=unlock-luks-backup.service
Requires=unlock-luks-backup.service

[Mount]
What=/dev/mapper/{{ drives.remote_backup.luks_mapper}}
Where={{ drives.remote_backup.mount }}
Type={{ drives.remote_backup.type }}
Options=defaults

[Install]
WantedBy=multi-user.target
