{
	servers {
		trusted_proxies static private_ranges
	}
}

(security_headers) {
	header {
		X-Robots-Tag "noindex, nofollow"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "no-referrer"
		Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
		X-XSS-Protection: "1; mode=block"

		# https://www.adobe.com/devnet/adobe-media-server/articles/cross-domain-xml-for-streaming.html
		X-Permitted-Cross-Domain-Policies "none"
	}
}

(restrict_lan) {
	@restricted_location {
		path /*
		not remote_ip private_ranges
	}
	respond @restricted_location "Access Denied" 403 {
		close
	}
}

(authelia_sso) {
	forward_auth authelia:9091 {
		uri /api/verify?rd=https://auth.nelyah.eu
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

(authelia_sso_location) {
	forward_auth {args[0]} authelia:9091 {
		uri /api/verify?rd=https://auth.nelyah.eu
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

(authelia_sso_if_not_lan) {
	@is_not_lan {
		not remote_ip private_ranges
	}
	forward_auth @is_not_lan authelia:9091 {
		uri /api/verify?rd=https://auth.nelyah.eu
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

cloud.nelyah.eu {
	import security_headers

	request_body {
		max_size 5GB
	}

	root * /php-fpm-root/nextcloud/
	file_server
	php_fastcgi nextcloud:9000 {
		root /var/www/html/

		# This is required to inform Nextcloud that it shouldn't be setting
		# headers itself. That's the job of the reverse proxy
		env modHeadersAvailable true
	}

	redir /.well-known/carddav /remote.php/dav permanent
	redir /.well-known/caldav /remote.php/dav permanent

	@forbidden {
		path /.htaccess
		path /data/*
		path /config/*
		path /db_structure
		path /.xml
		path /README
		path /3rdparty/*
		path /lib/*
		path /templates/*
		path /occ
		path /console.php
	}
	respond @forbidden "Access Denied" 403 {
		close
	}
}

pihole.nelyah.eu {
	import security_headers
	reverse_proxy pihole
	import authelia_sso_if_not_lan
}

gitea.nelyah.eu {
	import security_headers
	reverse_proxy gitea:3000
	import authelia_sso_if_not_lan
}

blog.nelyah.eu {
	redir https://wheelingtheworld.eu{uri} permanent
}

wheelingtheworld.eu {
	import security_headers
	reverse_proxy wordpress

	@restricted_location {
		path /wp-admin/*
		path /wp-login.php
		not remote_ip private_ranges
	}
	respond @restricted_location "Access Denied" 403 {
		close
	}
}

influxdb.nelyah.eu {
	import security_headers
	reverse_proxy influxdb:8086
	import authelia_sso_if_not_lan
}

wiki.nelyah.eu {
	import security_headers
	reverse_proxy bookstack
}

music-mum.nelyah.eu {
	import security_headers
	reverse_proxy navidrome_mum:8080
}

music.nelyah.eu {
	import security_headers
	reverse_proxy navidrome
}

prometheus.nelyah.eu {
	import security_headers
	reverse_proxy prometheus:9090
	import authelia_sso_if_not_lan
}

grafana.nelyah.eu {
	import security_headers
	reverse_proxy grafana:3000
	import authelia_sso_if_not_lan

emby.nelyah.eu {
	import security_headers
	reverse_proxy emby:8096
}

cinema.nelyah.eu {
	import security_headers
	reverse_proxy emby:8096
}

photos.nelyah.eu {
	import security_headers
	reverse_proxy photoprism:2342
	import authelia_sso_if_not_lan
}

watchtower.nelyah.eu {
	import security_headers
	import restrict_lan
	reverse_proxy watchtower:8080
}

audiobookshelf.nelyah.eu {
	import security_headers
	reverse_proxy audiobookshelf
}

ghost.nelyah.eu {
	redir https://stories.nelyah.eu{uri} permanent
}

stories.nelyah.eu {
	import security_headers
	reverse_proxy ghost:2368
	@restricted {
		path /ghost*
		not path /ghost/api*
	}

	import authelia_sso_location @restricted
}

auth.nelyah.eu {
	reverse_proxy authelia:9091
}

home.nelyah.eu {
	reverse_proxy homepage:3000
	import authelia_sso
}

homebox.nelyah.eu {
	import security_headers
	reverse_proxy homebox:7745
	import authelia_sso_if_not_lan
}
