venv
.venv
roles/server/files/cert.pem
roles/server/files/key.pem
roles/server/files/https-cert.pem
roles/server/files/https-key.pem
roles/server/vars/syncthing.yml
.cache
.vault-unseal-token
.vault-token

build
