---

- name: Install packages
  package:
    name:
      - bat
      - beets
      - ca-certificates
      - cmake
      - curl
      - davfs2
      - duf # Good view for disk usage
      - ethtool # Used to inspect network interfaces
      - flac # to convert audio files to flac
      - gdb
      - git
      - gnupg
      - htop
      - imagemagick
      - isync
      - jq
      - lnav # to explore the logs
      - msmtp
      - nodejs
      - npm
      - ncdu
      - neovim
      - net-tools
      - python3
      - python3-pip
      - restic
      - ripgrep
      - rsync
      - smartmontools
      - syncthing
      - tig
      - tailscale
      - tmux
      - ufw
      - unzip
      - wget
      - youtube-dl
      - yq
      - zsh
    state: present
    update_cache: true

- name: Install Debian packages
  package:
    name:
      - apt-transport-https
      - build-essential
      - fzf
      - universal-ctags
      - golang-go
      - neomutt
      - notmuch
    state: present
    update_cache: true
  when: ansible_facts['os_family'] == "Debian"
