
server {
    include       /etc/nginx/generated/ssl.conf;

    listen        443 ssl http2;

    server_name   ${WIKI_URL};
    set $wiki "http://${WIKI_INTERNAL_NAME}";

    location / {
        include /etc/nginx/common_location.conf;
        include /etc/nginx/header_security.conf;
        proxy_pass  $wiki;
    }
}

# vi:syntax=nginx
