---

- name: Set up docker log corruption monitoring and fix
  tags:
    - docker_setup
  block:
  - name: Copy the docker-fix-logs script
    copy:
      src: docker-fix-logs.sh
      dest: '/usr/local/bin/docker-fix-logs'
      owner: 'root'
      group: 'root'
      mode: '0755'

  - name: Copy the docker-fix-logs systemd files
    copy:
      src: '{{ item }}'
      dest: '{{systemd_destination}}/ansible-{{ item }}'
      owner: 'root'
      group: 'root'
      mode: '0644'
    loop:
      - docker-fix-logs.service
      - docker-fix-logs.timer

- name: Do the Docker setup for each service
  include_role:
    name: 'services/{{ item }}'
    tasks_from: docker
    apply:
      tags:
        - '{{ item }}'
  loop: '{{ docker_services }}'

  # Always run this. the apply.tags is what really matters
  tags:
    - always
