[Unit]
Description=Remote backup drive

[Mount]
What=/dev/disk/by-uuid/{{ drives.remote_backup.uuid }}
Where={{ drives.remote_backup.mount }}
Type={{ drives.remote_backup.type }}
Options=defaults

[Install]
WantedBy=multi-user.target
